<html>
  <head>
		<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <nav>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="margin-left: 1em">GoNBoard</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/account/register">register</a></li>
              {% if current_user.is_authenticated %}
              <li><a href="/account/mypage">{{ current_user.uid }}</a></li>
              <li><a href="/account/logout">logout</a></li>
              {% else %}
              <li><a href="/account/login">login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
    </div>
  </body>
  {% block script %}
  {% endblock %}
</html>
