{% extends "layout.html" %}
{% block body %}
<div class="row">
<form class="col s12" action="/account/register" method="POST">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="input-field col s12">
      {{ render_field(form.uid) }}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ render_field(form.upw) }}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ render_field(form.msg) }}
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ render_field(form.email) }}
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="register"><i class="material-icons right">send</i>submit</button>
</form>
</div>
{% endblock %}
